<p id="notice"><%= notice %></p>

<h1>Product Catalog</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>Add to Cart</th>
         </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= sanitize(product.description) %></td>
        <td><%= image_tag(product.image_url, class: 'list_image') %>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= button_to 'Add to Cart', line_items_path(product_id: product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

