<p id="notice"><%= notice %></p>
<p>
    
</p><div class="panel panel-primary">
  <div class="panel-heading"><h2>Product Catalog</h2></div>
</div>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Description</th>
      <th>Label</th>
      <th>Price</th>
      <th>Add to Cart</th>
         </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= sanitize(product.description) %></td>
        <td><%= image_tag(product.image_url, class: 'list_image') %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= button_to 'Add to Cart', line_items_path(product_id: product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

